<div class="portada">
    <img class="portada-img" src="assets/imagenes/fondo2.jpg" alt="">
</div>
<div class="contenedor">
    <p>Panela San Isidro es <b>Calidad</b></p>
    <p>Historia</p>
    <div class="box">
        <div class="logo">
            <img class="foto" src="assets/imagenes/enramada.jpg" alt="">
        </div>
        <div class="infoText">
            <p>
                <b style="color: rgb(158, 224, 59); font-size: x-large;">1997</b> Empresa familiar fundada el 11 de junio de 1997, por 7 campesinos humildes, apegados a su tierra a quienes impulsaba el deseo de 
                beneficiar a sus familiares y vecinos, a traves de una empresa que promoviera la agricultura 
                organica el desarrollo economico y social equilibrado, retribuyendo un precio justo.
            </p>
        </div>
    </div>
    <div class="box direccion">
        <div class="infoText">
            <p>
                <b style="color: rgb(158, 224, 59); font-size: x-large;">2022</b> Hoy en día nuestros socios, continúan respondiendo al dulce llamado de sus antecesores y continúan con el compromiso de llevar a San Isidro a ser reconocida por la excelente calidad de sus productos, sin consecuencias negativas para el medio ambiente, procurando la mayor participación posible de pequeños productores y respetando la normatividad vigente para productos certificados.
            </p>
        </div>
        <div class="logo">
            <img class="foto" src="assets/imagenes/enramada.jpg" alt="">
        </div>
    </div>
    <div class="box2" style="align-self: flex-start;">
        <div class="estilo">
            <img class="logo2" src="assets/logos/maletin.png" alt="">
            <p>Modelo de negocio</p>
        </div>
        <p>
            Nuestro modelo de negocio inicia en el cultivo de la caña y
            termina en la transformacion en panela ecologica, para ser llevada a los usuarios
            finales a traves de canales de detal y mayoreo.
        </p>
    </div>
    <div class="box2" style="align-self: flex-end;">
        <div class="estilo">
            <img class="logo2" src="assets/logos/maletin.png" alt="">
            <p>Mision</p>
        </div>
        <p>
            Producir y comercializar panela ecológica certificada y panela en conversión a panela ecológica, con altos estándares de calidad, para satisfacer la demanda de clientes nacionales e internacionales, aportando beneficios para nuestros socios, proveedores y trabajadores, asegurando nuestro compromiso con el cuidado y la preservación del medio ambiente.
        </p>
    </div>
    <div class="box2" style="align-self: flex-start;">
        <div class="estilo">
            <img class="logo2" src="assets/logos/maletin.png" alt="">
            <p>Vision</p>
        </div>
        <p>
            Ser una empresa lider, rentable y altamente competitiva en la
            producción y distribución de Panela Pulverizada en el mercado
            interno y externo; fomentando su consumo como producto alternativo
            para endulzar los alimentos de manera natural y saludable.
        </p>
    </div>
</div>