<div class="contenedor">
    <p class="titulo">Encuentranos en</p>
    <div class="marcas">
        <div class="alkosto">
            <img src="assets/logos/alkosto-logo.svg" alt="">
        </div>
        <div class="tiendas">
            <img class="icon" src="assets/logos/naturista.png" alt="">
            <p>Tiendas Naturistas</p>           
        </div>
        <div class="tiendas">
            <img class="icon" src="assets/logos/restaurante.png" alt="https://www.flaticon.es/iconos-gratis/restaurante -- Restaurante iconos creados por Freepik - Flaticon">
            <p>Restaurantes</p>
        </div>
    </div>
    <p class="titulo">Nuestros <b>productos</b></p>
    <div class="box">
        <div *ngFor="let producto of productos" class="card">
            <div class="card-imagen">
                <img class="card-foto" src={{producto.url}} alt="">
            </div>
            <p class="texto">
                {{producto.name}}
            </p>
            <p class="precio"><b>{{producto.precio | currency:'' :'symbol':'3.0'}}</b></p>
            <button routerLink="/descripcion_producto" (click)="agregarProducto(producto)" class="botonpay"><p>Ver producto</p></button>
        </div>
    </div>
    <div class="enviosinfo">
        <div class="tiendas">
            <img class="icon" src="assets/logos/atencion.png" alt="logo atencion al cliente">
            <p>Atencion al cliente</p>
        </div>
        <div class="tiendas">
            <img class="icon" src="assets/logos/entrega.png" alt="logo envios">
            <p>Envios a todo colombia</p>           
        </div>
    </div>
</div>