<div class="container">
    <div class="box3">
        <div class="columna1">
            <img class="icon-logo" src="assets/imagenes/logo-tranparente.png" alt="">
        </div>
        <div class="columna2">
            <p>Contactanos:</p>
            <div class="info1">
                <p><b>Telefono:</b> (+57) 3104818398</p>
            </div>
            <div class="info1">
                <p><b>Movil:</b> (+57) 3104818398</p>
            </div>
            <div class="info1">
                <p><b>Email:</b> ventas@panelasanisidro.com</p>
            </div>
            <div class="info1">
                <p>Panela San Isidro S.A. Cl. 73 #8 - 13, Sasaima</p>
            </div>
            <div class="info1">
                <p><b>Horarios:</b>Lun/Viernes 8:00 AM - 5:00 PM</p>
            </div>
        </div>
        <div class="columna3">
            <img class="icon-redes" src="assets/logos/Facebook_Logo.png" alt="">
            <img class="icon-redes" src="assets/logos/instagram.png" alt="">
            <img class="icon-redes" src="assets/logos/youtube.png" alt="">
        </div>
    </div>
</div>